body{
font-family: Arial;
margin:0;
background:linear-gradient(120deg,#ff9a9e,#fad0c4);
}

header{
background:#ff5722;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:10px;
}

nav a{
color:white;
margin:10px;
font-weight:bold;
text-decoration:none;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

h1{
color:#fff;
}

h2{
color:#ff5722;
}

h3{
color:#4CAF50;
}

footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}

form{
display:flex;
flex-direction:column;
}

input,textarea{
margin:10px 0;
padding:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#ff5722;
color:white;
padding:10px;
border:none;
border-radius:5px;
font-size:16px;
}
